<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-5">
            <a href="/">
                <h1>Anthony Barretti</h1>
            </a>
        </div>
        <div class="d-none d-lg-block col-lg-1">
            <a href="/">
                <figure>
                    <img src= "imgs/sphereBlue.png" alt= "Sphere Blue">
                </figure>
            </a>
        </div>
