<!DOCTYPE html>
<html lang="en">
    <head>
        {{> partials/meta }}
        <title>Anthony Barretti - Contact</title>
        {{> partials/links }}
    </head>
    <body>
        <button class='navbar-toggler d-block d-lg-none' data-toggle='collapse' data-target='#collapseNavBar'>
            <img src="{{ url }}/imgs/barsWhite.png" alt="navbar toggler">
        </button>
        <header>
            {{> partials/header}}
                    <div class="col-md-12 col-lg-6 d-lg-block d-xl-block" id="collapseNavBar">
                        <nav class="navbar">
                            <div><a href="/">Home</a></div>
                            <div><a href="/about">About</a></div>
                            <div class="dropdown">
                                <a href="/cv">CV</a>
                                <div class="dropdown-content">
                                    <a href="/cv#education">Education</a>
                                    <a href="/cv#skills">Skills</a>
                                    <a href="/cv#experience">Experience</a>
                                    <a href="/cv#coursework">Coursework</a>
                                </div>
                            </div>
                            <div><a href="/contact" class="active">Contact</a></div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <img src= "{{ url }}/imgs/headShot.jpg" alt= "Head Shot">
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="contactText">
                            <h2>Thank you again for visiting my site!</h2>
                            <p>If you wish to contact me directly, please feel free to do so at <a href="mailto:aebarretti87@gmail.com">aebarretti87@gmail.com</a>.</p>
                        </div>
                    </div>
                </div>
                <hr class="contact">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <a href="https://www.linkedin.com/in/anthony-barretti-95a57687/" class="image" target="_blank">
                            <img src="{{ url }}/imgs/linkedIn.png" alt= "LinkedIn"/>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <p>You can also connect and message me on <a href="https://www.linkedin.com/in/anthony-barretti-95a57687/" target="_blank">LinkedIn</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <a href="https://github.com/abarretti/" class="image" target="_blank">
                            <img src= "{{ url }}/imgs/gitHubMain.png" alt= "Github"/>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <p>... or follow me on <a href="https://github.com/abarretti/" target="_blank">Github</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <a href="https://www.hackerrank.com/aebarretti87/" class="image" target="_blank">
                            <img src="{{ url }}/imgs/hackerRank.png" alt= "hackerRank Logo"/>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <p>and <a href="https://www.hackerrank.com/aebarretti87/" target="_blank">HackerRank</a>!</p>
                    </div>
                </div>
                <hr class="contact">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Check out my profiles on <a href="https://www.coursera.org/user/f4d3550b3ade029ff335f7125cdbed51" target="_blank">Coursera</a>, <a href="https://www.udemy.com/user/anthony-barretti/" target="_blank">Udemy</a>, <a href="https://exercism.io/profiles/abarretti/" target="_blank">Exercism</a> and <a href="https://www.codecademy.com/aebarretti87/" target="_blank">Codeacademy</a> as well.</p>
                    </div>
                </div>
                <div class="row profile">
                    <div class="col-6 col-sm-3">
                        <a href="https://www.coursera.org/user/f4d3550b3ade029ff335f7125cdbed51" class="image" target="_blank">
                            <img src="{{ url }}/imgs/courseraMain.png" alt= "Coursera Logo"/>
                        </a>
                    </div>
                    <div class="col-6 col-sm-3">
                        <a href="https://www.udemy.com/user/anthony-barretti/" class="image" target="_blank">
                            <img src="{{ url }}/imgs/udemyU.png" alt= "Udemy Logo"/>
                        </a>
                    </div>
                    <div class="col-6 col-sm-3">
                        <a href="https://exercism.io/profiles/abarretti/" class="image" target="_blank">
                            <img src="{{ url }}/imgs/exercismMain.png" alt= "Exercism Logo"/>
                        </a>
                    </div>
                    <div class="col-6 col-sm-3">
                        <a href="https://www.codecademy.com/profiles/aebarretti87/" class="image" target="_blank">
                            <img src="{{ url }}/imgs/codeAcademyMain.png" alt= "CodeAcademy Logo"/>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
        {{> partials/footer}}
        {{> partials/scripts}}
    </body>
</html>